/**
* @outputStyle compact
* @debugInfo false
* @lineComments false
*/
/* SIDEBAR INFOBOX */
#mm_sbox { position: absolute; margin-top: 12px; padding-top: 12px; right: 1%; width: 25%; margin-bottom: 5px; min-height: 50px; }
#mm_sbox.fixed { position: fixed; top: 0; }

#mmsg_wrap { padding: 10px; min-height: 50px; margin: 4px 0px 0px 0px; transition: background-color .5s; }
#mmsg_wrap.success { color: #334d00; background: #b8db70; border: 1px solid #8ab82e; }
#mmsg_wrap.error { color: #990000; background: #ebadad; border: 1px solid #d65c5c; }
#mmsg_wrap.progress { color: #666666; background: #e6e6e6 url("../icons/progress-big.gif") no-repeat center center; border: 1px solid #cccccc; }
#mmsg_wrap.progress.init { background: #e6e6e6; }

#mmsg_stats { margin-bottom: 8px; padding: 1px 4px; color: #bfaa40; background: #e6ddb3; font-size: 10px; text-align: right; }

.mm_copyr { clear: both; text-align: right; }

/* MM_PLUGIN */
#mm_plugin .full { width: 100%; }
#mm_plugin .half { width: 50%; }
#mm_plugin .quarter { width: 25%; }
#mm_plugin .one-third { width: 33%; }
#mm_plugin .three-quarters { width: 75%; }
#mm_plugin .text-center { text-align: center; }
#mm_plugin .text-right { text-align: right; }
#mm_plugin .text-left { text-align: left; }
#mm_plugin .comment { color: #8c8c8c; }
#mm_plugin p { font-size: 12px; margin: 6px 16px; }
#mm_plugin input, #mm_plugin textarea, #mm_plugin select { border: 1px solid #bfbfbf; font-size: 12px; box-sizing: border-box; outline: none; margin: 1px 1px; padding: 1px; min-width: 60px; background-color: #f2f2f2; }
#mm_plugin input[type=checkbox], #mm_plugin textarea[type=checkbox], #mm_plugin select[type=checkbox] { min-width: 16px; margin: 5px 2px; }
#mm_plugin input.large, #mm_plugin textarea.large, #mm_plugin select.large { font-size: 14px; font-weight: bold; }
#mm_plugin input.lang, #mm_plugin textarea.lang, #mm_plugin select.lang { background-color: #EEE; }
#mm_plugin input.readonly, #mm_plugin textarea.readonly, #mm_plugin select.readonly { color: #CCC; }
#mm_plugin input:hover, #mm_plugin input:focus, #mm_plugin textarea:hover, #mm_plugin textarea:focus, #mm_plugin select:hover, #mm_plugin select:focus { background-color: #fdeadb; border-color: #999999; }
#mm_plugin input:hover.readonly, #mm_plugin input:focus.readonly, #mm_plugin textarea:hover.readonly, #mm_plugin textarea:focus.readonly, #mm_plugin select:hover.readonly, #mm_plugin select:focus.readonly { background-color: #EEE; }
#mm_plugin fieldset { border: 1px solid #cccccc; background-color: #ebebeb; padding: 12px; margin: 12px 0px; }
#mm_plugin legend { padding: 0 12px; font-weight: bold; }
#mm_plugin textarea { resize: none; height: 48px; overflow: hidden; font-family: sans-serif; }
#mm_plugin select { border: 1px solid white; }
#mm_plugin label { text-align: right; width: 100%; display: block; }
#mm_plugin label.inline { width: auto; display: inline; }
#mm_plugin input[type=button], #mm_plugin input[type=submit], #mm_plugin input[type=reset] { position: relative; padding: 3px 5px; font-weight: bold; font-size: 12px; box-shadow: inset 1px 1px 1px rgba(242, 242, 242, 0.5), inset -1px -1px 1px rgba(115, 50, 0, 0.4) !important; border-color: #ff770d; border-radius: 2px !important; background: #ffa25a; }
#mm_plugin input[type=button]:hover, #mm_plugin input[type=button]:focus, #mm_plugin input[type=submit]:hover, #mm_plugin input[type=submit]:focus, #mm_plugin input[type=reset]:hover, #mm_plugin input[type=reset]:focus { background: #ff770d; }
#mm_plugin table td { font-size: 12px; }
#mm_plugin table td.label { padding: 3px 6px 0px 6px; width: 60px; text-align: right; }
#mm_plugin table td.label.wide { width: 120px; min-width: 120px; }
#mm_plugin table.header { background-color: #d9d9d9; margin-bottom: 16px; }
#mm_plugin table.header td { padding: 2px 6px; }
#mm_plugin table.header select { border: 1px solid #cccccc; }
#mm_plugin table.settings td { padding: 4px; }
